@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
}

.hamburger {
    display: none
}

.text {
    font-size: 3em;
    font-weight: bold;
    color:#679b9b;   
}

nav {
    display: flex;
}

nav ul {
    width:100%;
    display: flex;
    list-style-type: none;
    margin-left: 45%;    
}

nav li a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    
}

nav a:hover {
    font-weight: bold;
    color: green;    
 }

 #myLinks {
    display: flex;
  }

.background {
     width: 100%;
     max-height: 500px;
     object-fit: cover;
     object-position: center;
    position: relative;
		z-index: 0;    
 }

 .content h1 {
    color: white;
    position: absolute;
	top: 200px;
	z-index: 2;
    margin-left: 50px;
}

.highlight {
    background-color: #00c2ff;
    color: white;
    position: absolute;
	top: 250px;
	z-index: 2;	
    padding: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.playstore {
    width: 15%;
    position: absolute;
	top: 310px;
	z-index: 2;	
    margin-left: 50px;
}

.appstore {
    width: 15%;
    position: absolute;
	top: 310px;
	z-index: 2;	
    margin-left: 260px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    
}

.fitur1 {
    border-radius: 60%;
    float: left;
    margin: 30px;
}

.fitur2 {
    border-radius: 60%;
    float: right;
    margin: 30px;           
}

.satu {
    width: 100%;
    padding: 5px;
    overflow: auto;
    font-size: 1.5em;            
}

.otocarfitur {
    margin : 20px 10% 30px 10%;
}

.saycustomer {
    display: flex;
    margin: 30px;
  }

.customercard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 40px;
    text-align: center;
}

.customercard:hover {
    border: 2px solid blue;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    padding-top: 10px;
    text-align: center;    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color:#ffeadb;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .medsos {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  footer {
    margin-top: 10px;
    padding: 20px;
    color: white;
    background-color : #ff9a76;
    text-align: center;
   font-weight: bold;
}

@media screen and (max-width: 1000px){
    nav, nav ul, nav li a {
        flex-direction: column;
        float: left;
        margin-left: 0;
        font-size: 1.15em;  
    }

    .hamburger {
        display: flex;
        max-height: 30px;
        margin-top: 20px;    
    } 

    .text {
        font-size: 3em;
        font-weight: bold;
        color:#679b9b;
        display: flex;    
    }

    #myLinks {
        display: none;
      }

    .background {
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;  
    }
    
    .content h1 {
        display:none;
    }

    .highlight {
        display:none;
    }

    main {
        width: 100%;
        padding: 0;
        font-size: 70%;
        object-fit: cover;
        object-position: center;    
    }

    .saycustomer {
        flex-direction: column;
    }

    .mobileimg {
        width: 50%;
    }

    .customercard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 5px;
        margin: 20px;
        text-align: center;       
    }
    
    .playstore {
        display:none;
    }
    
    .appstore {
        display:none;
    }
}